#results{
    display: flex;
    margin-top: 20px;
    padding: 20px;
    
    flex-wrap: wrap;
    justify-content: center;
} 
.show{
    text-align: center;
    padding: 5px;
}

h2{
    font-family: Kanit;
    font-weight:300;
    font-size:20px;
    margin:2px 2px;
}
h1{
    font-family: Anton;
    font-size: 45px;
    padding: 0%;
    font-stretch: ultra-expanded;
    margin-bottom: 3px;
}

input{
    padding:0;
    margin:0;
    width: 80%;
    height: 100%;
    border: 0;

}
button{
    padding-left:0;
    margin-left:0;
    background-color: none;
    cursor: pointer;
    border:0;
    border: 0;
    width:20%
}   
#searchButton{
    padding-left:0;
    margin-left:0;
    background: #ffe8d6;
    cursor: pointer;
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: left;
}
body{
    text-align: center;
}